body
{
  font-family: 'Montserrat', sans-serif;
  padding: 2% 10% 7%;
}

#rules-body .semi-bold
{
  font-weight: 500;
}

.timer
{
  font-size: 1.5rem;
  font-weight: 500;
}
.timer-text
{
  font-size: 1.2rem;
}
.question-number
{
  text-align: center;
  font-weight: 700;
}

@media (max-width: 400px)
{
  .desktop-only
  {
    display: none !important;
  }
}
@media (min-width: 400px)
{
  .mobile-only
  {
    display: none !important;
  }
}
